@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
}
.text {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.spread {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 20px;
}
body {
  font-family: "Roboto";
  padding-top: 66px;
}
.container {
  max-width: 1080px;
  margin: auto;
  padding: 0 10px;
}
nav {
  position: fixed;
  top: 0;
  width: 100vw;
  border-bottom: 2px solid #d9d9d9;
  z-index: 5;
  background: #f2f2f2;
}
nav img {
  vertical-align: middle;
}
nav section a {
  padding: 10px;
}
main {
  display: flex;
  padding-top: 60px;
  padding-bottom: 30px;
}
.images {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.images img {
  max-width: 640px;
  width: 100%;
}
.ad-png {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  max-width: 640px;
  width: 100%;
}
.ad-png img {
  width: 48%;
}
.description {
  padding-left: 20px;
  max-width: 420px;
}
.description h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
}
.prices {
  display: flex;
  font-weight: 700;
  padding: 10px 0;
}
.prices p:nth-of-type(2) {
  padding: 0 20px;
}
.line-through {
  text-decoration: line-through;
}
.sale {
  color: #ffffff;
  background: #334fb4;
  padding: 0 8px;
  border-radius: 11px;
}
.size .text {
  padding-bottom: 8px;
}
.size button:nth-of-type(2) {
  margin: 0 15px;
}
.btn-size {
  font-size: 16px;
  font-weight: 400;
  padding: 0 10px;
  border: 1px solid #002200;
  border-radius: 11px;
  background: #00220000;
  transition: 0.3s;
  cursor: pointer;
}
.btn-size:focus {
  background: #002200;
  color: #ffffff;
}
.quantity {
  padding: 16px 0;
}
.quantity .text {
  padding-bottom: 8px;
}
.box {
  border: 1px solid #002200;
  width: 70px;
  display: flex;
  justify-content: space-between;
  padding: 8px 8px;
}
.box button {
  background: none;
  border: none;
  cursor: pointer;
}
.box input {
  border: none;
  outline: none;
  width: 50px;
  text-align: center;
  user-select: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn {
  display: block;
  width: 100%;
  background: none;
  border: 1px solid #002200;
  padding: 5px 0;
  transition: 0.3s;
  cursor: pointer;
}
.btn:hover {
  background: #00000007;
}
.btn-blck {
  background: #002200;
  color: #ffffff;
  margin: 8px 0;
  transition: 0.3s;
  cursor: pointer;
}
.btn-blck:hover {
  background: #002200de;
}
.about {
  margin: 10px 0;
}
.info-sub {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  padding: 5px 0;
  border-top: 1px solid #002200;
  border-bottom: 1px solid #002200;
}
.info-sub:nth-of-type(2) {
  border: none;
}
.info-sub section {
  display: flex;
}
.info-sub section img {
  padding-right: 30px;
}
.info-sub button {
  background: none;
  border: none;
  padding-right: 15px;
  cursor: pointer;
}
.oasis {
  display: flex;
}
.oasis-info {
  background: #d9d9d9;
  padding: 64px 32px;
}
.oasis img {
  max-width: 50%;
  height: auto;
}
.oasis-info h5 {
  font-size: 32px;
  font-weight: 400;
  padding-bottom: 32px;
}
.quote {
  text-align: center;
  margin: auto;
  padding: 64px 0;
  max-width: 480px;
}
footer {
  height: 64px;
  background: #f2f2f2;
  text-align: center;
}

@media (max-width: 992px) {
  .images {
    flex: 2;
  }
  .description {
    flex: 1.7;
  }

  footer {
    padding: 10px 0;
  }
  footer .spread {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
  .oasis {
    flex-direction: column;
  }
  .oasis img {
    max-width: 100%;
  }
  .images,
  .description {
    margin: auto;
  }
  .description {
    padding-top: 30px;
    padding-left: 0;
  }
  .icon {
    padding: 10px 0;
  }
  .ad-png {
    display: none;
  }
}
